*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    background-color: #eee;
}
.flex-container{
    width: 300px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
    background-color: white;
    align-items: flex-start;
}
.flex-item{
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
    flex-basis: 300px;
}
.flex-item.flex-shrink.one{
    flex-shrink: 1;
}
.flex-item.flex-shrink.zero{
    flex-shrink: 0;
}
.flex-container.flex-shrink.second-child > div{
    flex-shrink: 0;
}

.flex-container.flex-shrink.second-child > .flex-item.flex-shrink.second-child{
    flex-shrink: 1;
}

h2{
    margin-top: 1em;
    margin-bottom: 1em;
}