@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font: 14px/1.5 Lato, sans-serif;
}
body{
    padding: 2em;
}
h2{
    margin-top: 2em;
}

pre{
    display: block;
    padding: 2em 2em 0.5em 2em;
    border-radius: 0.3em;
    margin: 2em 0;
    border: 2px solid #ccc;
    overflow: auto;
    background-color: #eee;
}

span{
    font-weight: bold;
}

input{
    display:  inline-block;
    padding: 0.5em 0.8em;
    border: 2pt solid #ccc;
    outline: none;
    border-radius: 0.3em;
}

input:focus{
    border-color: #090;
}