article.highlight + article{
    background-color: palevioletred;
}
a{
    text-decoration: none;
}

ul>li{
    list-style-type:none;
    font-weight: 900;
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;

}
ul > ul > li{
    margin-left: -3%;   
    padding-bottom: 0.5rem;
}

ul > ul > li:not(:last-child) > a{    
    color: blue;
}

ul > ul > li:last-child > a{
    color: green;
}

ul>li:nth-child(2){
    color: brown;
}

h2 ~ p{
    color:cornflowerblue ;
}