h1{
    color:rgb(107, 69, 69)
}
p{
    font-size: large;
}
.highlight{
    background-color: bisque;
}
#main-title{
    color: #f50505;
}
#special-paragraph{
    font-style:italic;
}
ul{
    list-style:square;
}
ul li{
    color: rgb(147, 175, 44);
}

div.highlight{
    background-color: rgb(151, 86, 86);
}